<launch>

  <arg name="marker_size" default="4.75" />
  <arg name="max_new_marker_error" default="0.08" />
  <arg name="max_track_error" default="0.1" />
  <arg name="cam_image_topic" default="/cameras/left_hand_camera/image" />
  <arg name="cam_info_topic" default="/cameras/left_hand_camera/camera_info" />
  <arg name="output_frame" default="/left_hand_camera" />
  <arg name="mname" default="baxter_left_hand_camera" />
  <arg name="med_filt_size" default="1" />

  <node name="ar_track_alvar_left_hand" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg med_filt_size)"/>

  <node name="object_pose_publisher" pkg="baxter_the_builder" type="object_pose_publisher.py" respawn="false" output="screen" />

  <node name="endpoint_sub" pkg="baxter_the_builder" type="endpoint_sub.py" respawn="false" output="screen" />

  <node pkg="rviz" type="rviz" name="rviz"/>
</launch>

